{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Classroom Types Report</h1>
        <table class="pure-table">
            <thead>
                <tr><th>Classroom Type</th><th>Number of Classrooms</th></tr>
            </thead>
            <tbody>
               
                {% for classroom in classrooms %}
                    <tr>
						<td> {{classroom[0]}}</td>
                        <td> {{classroom[1]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="chartIMG">
        <img src={{ url_for('static', filename='images/classroomTypesPie.png') }} alt="Chart">
    </div>
</div>
</body>
</html>
